<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  
 
 
  <test thread-count="5" name="PesonalLOan">
    
    <parameter name="URL" value="Personaloan"></parameter>
    <classes>
      <class name="TestNG.Ng1test"/>
     
    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="carloan">
    
    <parameter name="URL" value="carloan"></parameter>
    <classes>
      
      <class name="TestNG.Ng2Test"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
